.nav-to {
  position: absolute;
  top: 0;
  right: 0;

  transform: translate(-20px, 20px);

  padding: 15px 20px;

  border: 2px solid #A0A0A0;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #E9E2E2;
}