.login {
  position: relative;

  border: 2px solid #A0A0A0;

  min-width: 472px;

  input {
    width: calc(100% - 30px);
    height: 100%;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #A0A0A0;

    padding: 15px 20px;
  }
}

.input-back {
  &:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 35px;
    height: 30px;

    background-color: #000;

    transform: translate(-11.5px,-21.5px) rotate(-30deg);

    border-bottom: 2px solid #A0A0A0;
  }
  &:after {
    content: '';

    position: absolute;
    bottom: 0;
    right: 0;

    width: 35px;
    height: 30px;

    background-color: #000;

    transform: translate(11px,21.5px) rotate(-30deg);

    border-top: 2px solid #A0A0A0;
  }
}